.home-hero {
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    text-align: left;

    background-image: url('/images/hero/d-imageHero@2x.jpg');
    background-size: cover;
    background-position: center;
}

.home-hero__inner {
    width: 550px;
    margin-left: 9rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
